@import '~styles/variables';

th, td {
  position: relative;
  border-bottom: 1px solid $light-border-color;
  padding: 10px 2px;
  text-align: left;

  &.right {
    text-align: right;
    width: 120px;
  }

  &.center {
    text-align: right;
    width: 105px;
    padding-right: 30px;

    &.caret {
      padding-right: 50px;
    }
  }

  &.name {
    width: 42%;
  }

  &:first-child {
    text-align: center;
    margin: 0 10px;

    &::after {
      border: 0;
    }
  }

  &:last-child {
    padding-right: 80px;
    width: 22%;
  }
}