// This is where reusable scss values live
$primary-color: #157AFB;
$button-border-color: #D3D8DD;
$light-border-color: #F2F3F5;
$base-font-color: #7A8997;
$border-radius: 3px;
$button-height: 40px;
$thumbnail-height: 32px;
$error-color: #E06A65;
